
:root{
    --backgroundColor: #1f1b24;
    --blueColor: hsl(250,69%,61%);
    --text-color:white;
    --backgroundColorLow:#392f47;
    --paragraph-color:#c8c2cf;
}
body{
    background-color: var(--backgroundColor);
    color:var(--text-color);
}

/* Scrollbar css */
body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--blueColor);
    border-radius: 50px;
}

body::-webkit-scrollbar-track{
    background-color: var(--backgroundColorLow);
}

/* input color css */

input[type="color"]{
    padding: 0px;
}

/* Navbar css */
.NavbarColor{
    z-index: 1;
    background-color: var(--backgroundColor);
}
.nav-link{
    font-size: medium;
    margin-right: 3rem !important;
}
.nav-link.active{
    color: var(--blueColor) !important;
}
h1, h2{
    font-family:sans-serif;
}
h2{
    font-size: x-large;
}
h2 span{
    font-style: italic;
    font-size: larger;
    color: var(--blueColor);
}
.heading_1{
    font-size: 3rem;
    font-weight: 600;
}
.shortIntro{
    color: var(--paragraph-color);
    font-size: large;
}
div.icons{
    font-size: x-large;
    padding-bottom: 1rem;
}
div.icons a{
    color: var(--blueColor);
}
.contact{
    background-color: var(--blueColor);
    color: var(--text-color);
    border: 0px;
    padding: 10px 20px 10px 20px;
}
.contact:hover{
    color: var(--text-color);
    background-color: rgb(83, 48, 253);
}

.icons{
    color: var(--blueColor);
    margin-right: 2rem;
    font-size: x-large;
}
.icons:hover{
    color: rgb(75, 40, 252);
}

.anim, .anim svg {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .anim path {
    stroke-width: 2;
  }
#section{
    margin-top: 4rem;
}

.card{
    background-color: var(--backgroundColor);
}


/* Skills Css */
.icon_skill{
    font-size: xx-large;
    color:var(--blueColor);
}
.heading_skill{
    font-size: larger;
    font-weight: 400;
}
.para_skill{
    font-size: small;
    color: var(--paragraph-color);
}
.progress{
    height: 4px;
}
.progress-bar{
    background-color: var(--blueColor);
}
.clearflex{
    margin-bottom: 1.5rem;
}
.card{
    border: 1px solid var(--blueColor);
}

/* Form Css */

.form-control{
    background-color: var(--backgroundColorLow);
    border: 0px;
    font-size: medium;
    color: var(--text-color);
}
.form-control:focus{
    background-color: var(--backgroundColorLow);
    border: 1px solid var(--blueColor);
    font-size: medium;
    color: var(--text-color);
}


/* Service css */
.icon_card{
    font-size: xx-large;
    color:var(--blueColor);
}
.heading_card{
    font-size: larger;
    font-weight: 400;
}
.view_service{
    color: var(--blueColor);
}
.service_card{
    background-color: var(--backgroundColorLow);
    border: 0px;
    padding-left: 1.5rem;
    padding-top: 4rem;
}
.modal-content,.modal-header{
    border: 0px;
    border-radius: 1rem;
    background-color: var(--backgroundColorLow);
    color: var(--text-color);
}
.modal-header .close{
    color: var(--text-color);
}

/* Portfolio css */
.slick-dots li.slick-active button:before{
    color: var(--text-color) !important; 
}
.slick-dots li button:before{
    opacity: 75  !important;
    color: var(--blueColor) !important;
}
.portfolio_button{
    background-color: var(--blueColor);
    color: var(--text-color);
    border: 0px;
    border-radius: 5px;
}
.portfolio_button:hover, .portfolio_button:focus{
    background-color: rgb(83, 48, 253);
}

.portfolioMenu{
    background-color: var(--blueColor);
    border: 0px;
    margin-right: 1rem;
}
.portfolioMenu:hover, .portfolioMenu:focus{
    background-color: rgb(83, 48, 253);
}
.modal_portfolio{
    padding: 0px;
}
.card_portfolio{
    padding: 0.5rem;
}

.port_icons{
    font-size: x-large;
}
.port_icons .youtube{
    margin-right: 1rem;
}
.port_icons .youtube:hover, .github:hover{
    transform: scale(1.25);
}
.custom_card{
    max-width: 300px;
    min-width: 280px;
}
